<div>
    <div class="modal-header">
        <h3 class="modal-title">Add a new wishlist</h3>
    </div>
    <div class="modal-body">
        <label for="wishlistName" class="sr-only">Wishlist Name</label>
        <input ng-model="wishlist.name" type="text" id="wishlistName" class="form-control" placeholder="Wishlist Name"
               required="" autofocus="">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addWishlist()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>