<ul class="product" ng-repeat="product in model.products">
    <li class="image-container">
        <div class="button-container">
            <div class="button-wrapper">
                <a class="gift-button" ng-click="openWishlistsModal(product)">Add to Wishlist</a>
            </div>
        </div>
        <div>
            <img class="picture" ng-src="data:image/JPEG;base64,{{product.picture}}">
            {{product.name}}
            {{product.provider}}
        </div>
    </li>
</ul>
